#dino-image {
    display: block;
    max-width: 30vw;
    max-height:30vh;
    width: auto;
    height: auto;
}

#map {
    height: 65vh;
    margin: 10px;
}

#timeline {
    height: 30vh;
}
.card{
    width: 30vw;
}
#dino-selector{
    max-width: 30vw;
}
.icicle-tooltip {
    max-width: unset !important;
}